h1{
	font-family: "Courier", "Lucida Console", sans-serif;
	color: #756A65;
	
   
}
body{
	background-color: #FFE1DC;
}
h3{
	color:#999284;
}
header{
	display: flex;
	border-bottom: 2px solid white;
	flex-direction : row;
	align-items: center;
	justify-content : space-around;
}
#vide{
	width:700px;
}
#titre_principal{

}
#connexion{
	
	margin: 20px;
	width :15%;
	padding: 10px;
	background-color: #E8DBC8;
	border:7px double #999284;
}
#Categories{

	background-color:#E8DBC8;
	width : 180px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	border: 2px #999284 solid;
}
td{
	padding: 4px;
	text-align: center;
	
}
